.webshop {
    .price-card__price {
        background-color: $third-price-color;
    }
}

.webshop-img {
    background-image: url($marker-img-orange);
}

.btn-webshop {
    background-color: $third-btn-color;
}