$bg-color: #1F3D63;
$first-price-color: #5BB189;
$second-price-color: #3A6BA5;
$third-price-color: #EC632A;
$font-color: #ffffff;
$table-color: #141B1C;
$even-item-bg: #2A3438;
$marker-img-green: 'https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png';
$marker-img-blue: 'https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png';
$marker-img-orange:'https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png';
$first-btn-color: #5BB189;
$second-btn-color: #3A6BA5;
$third-btn-color: #EC632A;